* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 250vh;
  display:flex ;
  justify-content: center;
  background-color: #f3e5d8;
  align-items: center;
}
.container{
  width: 710px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 20px;

}
.content1{
  border-bottom: 1px solid #e0e0e0;
}
.content1 img{
  width: 660px;
  border-radius: 20px;
}
.content1 .top h1{
  font-size: 38px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.content1 .top p{
  color:#76726f ;
  margin-bottom: 35px;
  margin-top: 25px;
}
.content1 .mid{
  background-color: #fff7fc;
  padding: 20px;
  border-radius: 20px;
}
.content1 .mid h2{
  color: #663048;
}
.content1 .mid ul{
  margin-top: 15px;
  margin-left: 15px;
}
.content1 .mid li::marker{
  color: #663048;
}
li .head{
  color: #574e51;
  font-weight: bold;
}
li .text{
  color: #76726f;
  font-size: 14px;
  font-weight: bold;
}
.head-text{
  color: #7c4830;
  margin-bottom: 15px;
}
.content1 .bottom{
  margin-top: 30px;
  margin-bottom: 30px;
}

.content1 .bottom ul{
  margin-left: 20px;
}
.content1 .bottom li::marker{
  color: #7c4830;
}
.content1 .bottom li{
  color: #76726f;
  margin-left: 10px;
}
.content2{
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}
.content2 ul{
  list-style: decimal;
  width: 600px;
  margin-top: 30px;
}
.content2 ul li::marker{
  color: #7c4830;
  font-weight: bold;
}
.content2 ul li{
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.content3 p{
  color: #76726f;
  font-weight: bold;
}
.content3 .box{
  margin-top: 30px;
  margin-bottom: 30px;
}
.content3 .box .row{
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 30px;
  justify-content: space-between;
}
.content3 .box .row h4{
  color: #76726f;
}
.content3 .box .row span{
  color: #7c4830;
  font-weight: bold;
  font-size: 18px;
  margin-right: 150px;
}